@font-face {
    font-family: 'PP Neue Machina';
    src: url('/fonts/659dbdfd5a080be8d348316e_PP\ Neue\ Machina\ Inktrap\ Medium.ttf') format('ttf'),
         url('/fonts/PPNeueMachina_Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  .font-pp-machina {
    font-family: 'PP Neue Machina', sans-serif;
  }
  
*::selection{
    background-color:#ef9d71;
}

body[theme="black"] { background-color: black;}
body[theme="black"] .section{color: rgb(255, 255, 255);}


body[theme="cyan"]{  background-color: rgba(0, 179, 255, 0.625);}
body[theme="cyan"] .section{color: rgba(46, 131, 168, 0.625);}

body[theme="salmon"]{
    background-color: salmon;}
body[theme="salmon"] .section{color: rgb(88, 43, 37);}

body[theme="white"]{
    background-color: rgb(255, 255, 255);
}

body[theme="white"].section{
    color: rgb(62, 55,rgb(0, 0, 0))
} 